.formatForButton {
    background-color:rgb(255, 3, 45);
   }

.formatForButton1 {
    background-color:rgb(230, 255, 1);
   }

.formatForButton2 {
    background-color:rgb(4, 255, 79);
   }

.formatForButton,.formatForButton1,.formatForButton2
{
    display: block;
    margin: 20px;
    font-size: 60px;
}